*{
  /* height: */
  overflow:hidden;
}

.header{
    color:#d84315;
    background:#263238;
    padding:30px;
    font-weight:bold; 
    letter-spacing: 0.1rem;
    font-size:23px;
}

.header:hover{
    color:red;
}

.hero_banner{
    font-size:30px;
    color: white;
    font-weight:bold;
}

.hero_banner:hover{
  color:#d84315;
}

.hero{
    padding: 40px;
    /* height:100px; */
    background:#263238;
    color:whitesmoke;
    letter-spacing:0.2rem;
}

.section{
    padding:30px;
    display:flex;
    display-flex: column;
    background:#37474f;
}

.sec{
  margin:20px;
  border:3px solid #d84315;
  padding:30px;
  color:whitesmoke;
  font-weight:bold;
  height:100px;
}

.sec:hover{
    background:#d84315;
    color:#263238;
}

.links{
  text-decoration:none;
  color:whitesmoke;
}

.footer{
  background:#212121;
  color:whitesmoke;
  padding:40px;
  text-align:center;
}